html { 
    background: rgba(255, 212, 241, 0.838); 
    padding: 1rem; 
}

body { 
    max-width: 60%; 
    margin: 0 auto; 
    background: rgba(255, 255, 255, 0.496); 
    border-bottom: 3px solid #7e0a76cc; 
    border-bottom-left-radius: 80px 80px;
    align-items: center;
    
}
p{
    padding:2%;
    text-align: center;
}
h1 { 
    font-family: 'Roboto Slab', serif;
    color: #7e0a77; 
}
h2{
    font-family: 'Roboto Slab', serif;
    color: #43003e; 
    margin-left: 2%;
}

a { 
    color: #7e0a77; 
    font-size: 1.5em; 
}

h1 > a {
    font-size: 1em;
}

hr { 
    border: none; 
    border-top: 1px solid lightgray; 
}

nav { 
    background: lightgray; 
    display: flex; 
    align-items: center; 
    padding: 0 0.5rem; 
}
.create_page{
    display: flex; 
    justify-content: space-between;
}
.create_page_column{
    display: flex;
    flex-direction: column;
}
nav h1 { 
    flex: auto; 
    margin-left: 2%; 
}

nav h1 a { 
    text-decoration: none; 
    padding: 0.25rem 0.5rem; 
}

nav ul  { 
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}


nav ul li a, nav ul li span, header .action { 
    display: block; 
    padding: 0.5rem; 
    align-items: center;
    font-size: 1.5em;
}

.content { 
    align-items: center;
    padding: 2em 1em;

}

.content > header { 
    border-bottom: 1px solid lightgray; 
    display: flex; 
    align-items: center; 

}

.content > header h1 { 
    flex: auto; 
    margin-top: 0%;
    margin-left:  2%; 
}

.flash { 
    margin: 1em 2em; 
    padding: 1em; 
    background: #e2c00056; 
    border: 1px solid #b98500; 
}

.post > header { 
    display: flex; 
    align-items: center; 
    font-size: 0.85em; 
}

.post > header > div:first-of-type { 
    flex: auto; 
}

.post > header h1 { 
    font-size: 1.5em; 
    margin-bottom: 0; 
}

.post .about { 
    color: slategray; 
    font-style: italic; 
    margin-left: 2%;
}

.post .body { 
    white-space: pre-line; 
}

.content:last-child { 
    margin-bottom: 0; 
}

.content form { 
    margin: 1em 0; 
    display: flex; 
    align-items: center; 
    flex-direction: column; 
}

.content label { 
    font-weight: bold; 
    margin-bottom: 0.5em; 
    font-size: 1.5em;
}

.content input, .content textarea { 
    margin-bottom: 1em; 
}

.content textarea {
    min-height: 12em; 
    resize: vertical; 
}

input.danger { 
    color: #cc2f2e; 
}

input[type=submit] { 
    align-self: center; 
    min-width: 10em; 
    margin-top: 15px;
    margin-bottom: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
    margin: 2%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }