{% extends 'base.html' %}

{% block header %}
{% block title %}<h1>New record </h1> {% endblock %}
  {% if g.user %}
    <a class="action" href="{{ url_for('categories.create') }}">New Category</a>
  {% endif %}
{% endblock %}
  


{% block content %}
<div class="create_page">
  <table>
    <tr>
      <th>ID</th>
      <th>Available categories</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category['id'] }}</td>
      <td>{{ category['name'] }}</td>
    </tr>  
  {% if not loop.last %}
  {% endif %}
{% endfor %}
</table>
<div class="create_page_column">
  <p>Please enter the category id, money value and currency id</p>
  <form method="post">
    <label for="category_id">Category</label>
    <input name="category_id" id="category_id" value="{{ request.form['category_id'] }}" required>
    <label for="cost">Cost</label>
    <input name="cost" id="cost" value="{{ request.form['cost'] }}" required>
    <label for="currency_id">Currency</label>
    <input name="currency_id" id="currency_id" value="{{ request.form['currency_id'] }}" required>
    <input type="submit" value="Save">
  </form>
  </div>
  <table>
    <tr>
      <th>ID</th>
      <th>Available currencies</th>
    </tr>
    {% for currency in currencies %}
    <tr>
      <td>{{ currency['id'] }}</td>
      <td>{{ currency['name'] }}</td>
    </tr>  
  {% if not loop.last %}
  {% endif %}
{% endfor %}
</table>
</div>
{% endblock %}